<% 
    const volume = data.volumeInfo;
    const thumbnail = volume.imageLinks.thumbnail;
    const genre = volume.categories[0];
%>
<h2><%= volume.title %></h2>
<h3><%= volume.authors?.join(", ") %> - Published: <%= volume.publishedDate %> - Genre: <%= genre %></h3>
<img src="<%= thumbnail %>" alt="Book cover for <%= data.volumeInfo.title %>">
<form action="/add-read" method="post">
    <!-- Hidden metadata -->
  <input type="hidden" name="bookId" value="<%= data.id %>">
  <input type="hidden" name="title" value="<%= volume.title %>">
  <input type="hidden" name="genre" value="<%= genre %>">
  <input type="hidden" name="author" value="<%= volume.authors?.join(", ") %>">
  <input type="hidden" name="imageSrc" value="<%= data.volumeInfo.imageLinks?.thumbnail || '' %>">

    <legend>Rate and describe this book</legend>
    <label for="notes">Notes: </label><textarea name="notes" id="formNotes" cols="100" rows="10"></textarea>
    <fieldset>
        <legend>Rating: </legend>
        <% for(i = 1; i <= 10; i++){ %>
            <label>
                <input type="radio" name="rating" value="<%= i %>">
                <%= i %>
            </label>
        <% } %>
    </fieldset>
    <select name="status" id="formStatus">
        <option value="1">In the pile</option>
        <option value="2">On the bedside table</option>
        <option value="3">Back on the shelf</option>
    </select>
    <input type="submit">
</form>
<%- volume.description %>
